h1{
    background-color: black;
    font-family: cursive;
    font-weight: bold;
    text-align: left;
}
h2{
    background-color: indigo;
    color: white;
    font-family: monospace;
    text-align: center;
    font-style: italic;
}
h3{
    background-color:cornflowerblue;
    color: indigo;
    font-family: cursive;
    text-align: right;
}
